
#define PLANTBOOK_API_KEY "XYZ" // replace XYZ with your key from open.plantbook.io


#define SECRET_CH_ID 0000000			// replace 0000000 with your channel number
#define SECRET_WATER_CH_ID 0000000 // replace 0000000 with your water channel number water
#define SECRET_WRITE_APIKEY "XYZ"   // replace XYZ with your channel write API Key
#define SECRET_WATER_WRITE_APIKEY "XYZ"   // replace XYZ with your water channel write API Key
